<div class="modal-overlay" (click)="close.emit()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        
        <h2 class="title">🎰 QUEL HASARD ! 🎰</h2>
        <p class="subtitle">Votre chance n'a d'égal que mes compétences.</p>
        
        <div class="message-box">
            <p class="jackpot-message">Jackpot 777 ! Mon fameux CV est révélé !</p>
        </div>

        <button class="btn btn-download-cv-modal" (click)="downloadCV()">
            Télécharger mon CV
        </button>

        <button class="btn-close" (click)="close.emit()">
            &times;
        </button>
    </div>
</div>